@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    background: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    font-family: Poppins;;
}

h1{
    font-size: 20px;
    text-align: center;
}

span{
    color: #2f67b2;
}

hr{
    margin: 10px 0;
    border-top: 3px solid #bbb;
    border-radius: 5px;
}

.container{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    max-width: 450px;
    min-height: 300px;
}

.img, #idpokemon {
    text-align: center;
}

.img img{
    width: 90%;
}

.group-form{
    padding: 5px 0;

}

.group-form label{
    font-weight: 900;
    color: #1b356e;
}

.group-form input{
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Poppins;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 5px 0;
}

.group-form input[type=submit]{
    width: 100%;
    background: #1b356e;
    font-weight: 900;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

#idpokemon img{
    width: 94px;
    border: 1px solid #333;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 2px;
}

#content {
    font-family: monospace;
    padding: 10px;
    background: #ffcc01;
    border: 1px solid #c8a102;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color:#334;

} 
